h1{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

img{
    border:5px solid rgb(255, 255, 255);
}
div{
    width: 50%;
    margin-left: 25%;
}
p{
    text-align: center;
    color: white;
}
img{
    width: 100%;
}
body{
    background-color: black;
    font-family: Libre Baskerville;
}
